---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="All Cards.">
    <nav>
        <a href="Card-1">Card-1</a>
        <a href="#">Posts</a>
        <a href="#">Contact</a>
      </nav>
	<main>
		<p class="instructions">
            Здесь собраны все статьи о тестировании.
		</p>
		
	</main>
</Layout>
