---
import Layout from '../layouts/Layout.astro';
import Nav from "../components/Nav.astro"

---
<Nav/>
<Layout title="Article.">
    	<main>
		<p class="instructions">
           Статья
		</p>
		
	</main>
</Layout>
