---

---

<footer>
    <p>Designed by <a href="https://yasmetovyury.github.io" target="_blank">YY on Astro</a></p>
</footer>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato&family=Shrikhand&display=swap');

    footer {
        margin-top: 25px;
        background-color: #305181;
        padding: 1%;
    }

    p {
        font-family: 'Courier Prime', monospace;
    }

    a {
        text-decoration: none;
        color: #653A1E;
    }

    a:hover,
    a:visited {
        color: #653A1E;
    }
</style>